body {
	background-size: cover;
}


form {
	background-position: center;
	background-size: cover;
	padding: 0;
	margin: 0;
	position: absolute;
	display: block;


}
.first {
	position: absolute;
	width: 528px;
	height: 144px;
	left: 80px;
	top: 100px;
	line-height: 144px;
	font-size: 96px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	color: #4F4F4F;



}

.sign-up {

	width: 550px;
	height: 520px;
	background: #E4E2E2;
	color: #000;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	top: 45%;
	left: 60%;
	border-radius: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	




}
.btn {
	width: 100%;
	height: 55px;
	color: #000;
	background: #6D8CB7;
	border-radius: 60px;
	left: 924px;
	top: 763px;
	box-shadow: 0 4px 15px;
	margin-top: 20px;

}
h1 {
	margin: 0;
	padding: 0 20px;
	text-align: center;
	font-size: 50px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 72px;
	text-transform: uppercase;

color: #333333;

}
.sign-up input[type="email"]  {
	border: none;
	width: 470px;
	height: 40px;
	background-color: #E4E2E2; 
	border: 1px solid #000;
	font-size: 16px;
	border-radius: 10px
	

}
.head input[type="text"], input[type="password"] {
	border: none;
	width: 227px;
	height: 40px;
	background-color: #E4E2E2;
	border: 1px solid #000;
	font-size: 16px;
	margin-right: 10px;
	float: left;
	border-radius: 10px;
} 
.name {
	float: left;
	margin-right: 5px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	text-transform: lowercase;
	color: #333333;
}
.box:before {
	content: ".";
	float: right;
	padding-left: 6ex;
	visibility: hidden;
}
.box {
	width: 12ex;
}
a {
	color: blue;
}
.place {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	text-transform: lowercase;
	color: #333333;
}